{% extends "base.html" %}
{% block content %}
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    {% for driver in object_list %}
      <tr>
        <td>{{ driver.id }}</td>
        <td>
          <a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a>
        </td>
        <td>{{ driver.email }}</td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
